.c-users-list {
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;

    li {
      width: calc((100% - 60px) / 4);
      margin-right: 20px;
      margin-bottom: 20px;

      &:nth-child(4n + 4) {
        margin-right: 0;
      }

      &:nth-last-child(-n + 4) {
        margin-bottom: 0;
      }
    }
  }
}
