.s-header {
  .logo {
    width: 120px;
  }

  nav {
    a {
      display: block;
      top: 10px;
      right: 1px;
      bottom: 10px;
      left: 5px;
      width: 200px;
      height: 200px;
      margin: 10px;
      margin-right: 20px;
      background: $white;
      background-color: $white;
      font-size: 16px;
      text-align: center;
      text-transform: uppercase;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
