@font-face {
  font-family: 'sfpd';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/sf-pro-display-bold-webfont.woff2') format('woff2'), url('../fonts/sf-pro-display-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'sfpd';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/sf-pro-display-semibold-webfont.woff2') format('woff2'), url('../fonts/sf-pro-display-semibold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'sfpd';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/sf-pro-display-light-webfont.woff2') format('woff2'), url('../fonts/sf-pro-display-light-webfont.woff') format('woff');
}

@font-face {
  font-family: 'sfpd';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/sf-pro-display-regular-webfont.woff2') format('woff2'), url('../fonts/sf-pro-display-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/fontello.woff2') format('woff2'), url('../fonts/fontello.woff') format('woff');
}

.slick-arrow {
  line-height: 0;
}

[class^='icon-'],
[class*=' icon-'],
%icon,
.fontello,
.swal2-close,
.slick-arrow {
  display: inline-block;
  font-size: $fs15;
  line-height: 1em;

  &::before {
    display: inline-block;
    font-family: 'fontello';

    // speak: none;
    font-style: normal;
    font-variant: normal;

    // width: 1em;
    // margin-right: 0.2em;
    text-align: center;

    // font-size: $fs15;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    text-decoration: inherit;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    // line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    // margin-left: 0.2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
}

.slick-next,
.slick-prev {
  &::before {
    content: '\e892';
  }
}

.slick-next {
  &::before {
    content: '\e886';
  }
}

.icon-apartment {
  &::before {
    content: '\e800';
  } /* '' */
}

.icon-envelope {
  &::before {
    content: '\e801';
  } /* '' */
}

.icon-home {
  &::before {
    content: '\e802';
  } /* '' */
}

.icon-hotline {
  &::before {
    content: '\e803';
  } /* '' */
}

.icon-layout {
  &::before {
    content: '\e804';
  } /* '' */
}

.icon-path {
  &::before {
    content: '\e805';
  } /* '' */
}

.icon-shape {
  &::before {
    content: '\e806';
  } /* '' */
}

.icon-shoping {
  &::before {
    content: '\e807';
  } /* '' */
}

.icon-user {
  &::before {
    content: '\e808';
  } /* '' */
}
