.input {
  position: relative;
  z-index: 1;

  &.left-icon,
  &.right-icon {
    .icon {
      @include transform(translateY(-50%));

      position: absolute;
      top: 50%;
      font-size: $fs18;
      z-index: 2;
    }
  }

  &.left-icon {
    input {
      padding-left: 36px;
    }

    .icon {
      left: 13px;
    }
  }

  &.right-icon {
    input {
      padding-right: 36px;
    }

    .icon {
      right: 13px;
    }
  }

  &:hover,
  &.has-value {
    .icon {
      color: $c-p-1;
    }

    input {
      @include box-shadow(0, 0, 10px, $black-10);

      border-color: $c-p-1;
    }
  }

  &.disabled {
    .icon {
      color: $disabled;
    }
  }

  .react-datepicker-wrapper {
    display: block;
  }
}

input,
textarea {
  @include placeholder($placeholder);
}

input[type='tel'],
input[type='text'],
input[type='email'],
input[type='number'],
input[type='password'],
textarea {
  @include transition-multiple(color, background-color, border-color);
  @include rounded($input-radius);

  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0 15px;
  border: 1px solid $border;
  outline: none;
  background: transparent;
  color: $text;
  font-size: $fs14;
  line-height: 50px;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;

  .safari & {
    line-height: normal;
  }

  &:read-only {
    background-color: $c-n-9;
    color: $c-n-4;
  }

  &:disabled {
    border-color: $disabled;
    background-color: $c-n-5;
    color: $disabled;
  }

  &.error {
    border-color: $error;
    color: $error;
  }

  &.input-control {
    &-small {
      height: 40px;
      line-height: 40px;

      .safari & {
        line-height: normal;
      }
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

textarea {
  height: 100px;
  padding-top: 12px;
  line-height: 26px;
}

button,
input[type='submit'] {
  outline: none;
}

button {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.error-msg {
  padding-top: 5px;
  color: $error;
  font-size: $fs12;
  line-height: 14px;
  word-break: break-all;

  &:empty {
    display: none;
  }
}

.custom-radio,
.custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  line-height: 1em;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;

  input {
    position: fixed;
    left: -99em;
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    background: transparent;
    overflow: hidden;

    &:checked ~ .checkmark {
      border-color: $c-p-2;

      // -webkit-box-shadow: inset 0px 0px 0px 2px $c-p-1-15;
      // -moz-box-shadow: inset 0px 0px 0px 2px $c-p-1-15;
      // box-shadow: inset 0px 0px 0px 2px $c-p-1-15;

      &::before {
        background-color: $c-p-2;
        color: $c-p-2;
      }
    }
  }

  &:hover {
    .checkmark {
      border-color: $c-p-2;
    }
  }

  &.error {
    .checkmark {
      border-color: $error;
    }
  }

  .checkmark {
    @include rounded(50%);

    display: inline-block;
    min-width: 26px;
    margin-right: 10px;
    padding: 6px;
    border: 1px solid $border-dark;
    overflow: hidden;

    &::before {
      @include rounded(50%);

      display: block;
      width: 12px;
      height: 12px;
      background-color: transparent;
      content: '';
    }
  }

  p {
    margin-bottom: 0;
  }

  .sub {
    display: block;
    font-size: 0.8em;
  }
}

.custom-checkbox {
  input {
    &:checked ~ .checkmark {
      &::before {
        @include rounded(0);

        display: inline-block;
        margin-top: 6px;
        margin-left: 5px;
        background-color: transparent;
        color: $c-p-2;
        font-family: 'fontello';
        font-size: 13px;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 1em;
        text-align: center;
        text-decoration: inherit;
        text-transform: none;
        content: '\e86f';
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
      }
    }

    &:disabled ~ .checkmark {
      border-color: $border;

      &::before {
        color: $c-n-3;
      }
    }
  }

  .checkmark {
    @include rounded(4px);

    width: 25px;
    height: 25px;
    padding: 0;
  }

  &.favorite-checkbox {
    .icon {
      color: $white;
      font-size: $fs18;

      &::before {
        content: '\e805';
      }
    }

    input {
      &:checked ~ .icon {
        &::before {
          content: '\e806';
        }
      }
    }
  }
}

.dropdown-container {
  .select {
    &__control {
      @include rounded(6px);

      margin: 0;
      padding: 0;
      border: 1px solid $border;
      background-color: transparent;

      &--is-disabled {
        background-color: $disabled-bg;
        color: $disabled;
      }

      &:hover {
        border-color: $border;
      }

      &--is-focused {
        @include box-shadow(0, 0, 0, $transparent);

        position: relative;
        border-color: $border;
        z-index: 999;

        .select__indicators {
          .icon {
            @include rotation(-180deg);

            color: $c-p-2;
          }
        }
      }
    }

    &__value-container {
      @include flex-wrap(nowrap);

      padding: 0;
      line-height: 30px;

      // input {
      //   height: 40px;
      //   margin-bottom: 0;
      //   line-height: 40px;

      //   .safari & {
      //     line-height: normal;
      //   }
      // }

      input {
        height: 48px;
        margin-bottom: 0;
        line-height: 48px;

        .safari & {
          line-height: normal;
        }
      }
    }

    &__placeholder,
    &__single-value {
      width: calc(100% - 29px);
      margin: 0 0 0 15px;
      white-space: nowrap;
    }

    &__placeholder {
      color: $placeholder;
    }

    &__single-value {
      ~ div {
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    &__input {
      padding: 0 0 0 15px;
      line-height: 30px;
    }

    &__indicators {
      .icon {
        color: $text;
        font-size: $fs22;
      }
    }

    &__indicator-separator {
      display: none;
      margin: 0;
      background-color: transparent;
    }

    &__option {
      padding-top: 12px;
      padding-bottom: 12px;

      &--is-focused {
        background-color: $c-p-3;
      }

      &--is-selected {
        background-color: $c-p-1;
      }
    }

    &__menu {
      margin: 0;
    }
  }

  &.small-size {
    input {
      height: 32px;
      line-height: 30px;

      .safari & {
        line-height: normal;
      }
    }
  }

  &.error {
    .select {
      &__control {
        border-color: $error;
      }
    }
  }
}

.c-career-search,
.c-blog-filter {
  .dropdown-container {
    .select {
      &__value-container {
        input {
          height: 40px;
        }
      }
    }
  }
}

.b-form {
  .common-error {
    text-align: center;
  }

  .b-fields {
    margin-bottom: 20px;

    .field {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .text {
      display: block;
      margin-bottom: 5px;
      font-size: $fs15;
      line-height: 18px;
    }

    .file-field {
      @include rounded(30px);

      position: relative;
      width: 100%;
      border: 1px solid $border;
      overflow: hidden;
      z-index: 1;

      .placeholder {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 60px;
        background-color: $white;
        color: $placeholder;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        z-index: 2;
        pointer-events: none;

        span {
          display: block;
          width: 260px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }

      input {
        width: 100%;
        min-width: 0;
        height: 60px;
      }
    }

    textarea {
      height: 90px;
      padding: 16px 1px 16px 20px;
      background-color: $white;
    }

    input {
      outline: none;

      &:not([type='submit']) {
        background-color: $white;
      }

      &[type='submit'] {
        width: 100%;
      }
    }

    *:last-child,
    &:last-child {
      margin-bottom: 0;
    }
  }

  @include mq('tablet') {
    .b-fields {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;

      .field {
        width: 100%;
      }

      .text-field {
        height: 60px;
        line-height: 60px;
      }
    }
  }


  @include mq('desktop') {
    .b-fields {
      .file-field {
        width: 300px;
      }

      input {
        &[type='submit'] {
          width: auto;
          min-width: 300px;
        }
      }
    }
  }
}

.react-datepicker {
  &__header {
    background-color: transparent;
  }

  &__day {
    &--selected,
    &--keyboard-selected {
      @include rounded(50%);

      background-color: $c-p-1;
    }

    &--weekend {
      color: $c-s-5;
    }

    &:hover {
      @include rounded(50%);

      background-color: $c-n-5;
      color: $c-p-1;
    }
  }

  &__navigation {
    &--next {
      border-left-color: $c-p-1;

      &:hover {
        border-left-color: $c-p-3;
      }
    }

    &--previous {
      border-right-color: $c-p-1;

      &:hover {
        border-left-color: $c-p-3;
      }
    }
  }

  &__time-container {
    .react-datepicker__time {
      .react-datepicker__time-box {
        ul {
          &.react-datepicker__time-list {
            li {
              &.react-datepicker__time-list-item--selected {
                background-color: $c-p-1;
              }
            }
          }
        }
      }
    }
  }
}
