/* ----------------------- External Font ----------------------- */
@mixin ff($font-family) {
  font-family: $font-family, sans-serif;
}

/* ---------- Media Queries ---------- */
@mixin mq($width, $type: min) {
  @if map_has_key($break-points, $width) {
    $width: map_get($break-points, $width);

    @if $type == max {
      $width: $width - 1px;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@mixin mqo($orientation: landscape) {
  @media screen and (orientation: $orientation) {
    @content;
  }
}

/* ---------- Placeholder Style ---------- */
@mixin placeholder($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }

  &:-moz-placeholder {
    color: $color;
  }

  &::-moz-placeholder {
    color: $color;
  }

  &:-ms-input-placeholder {
    color: $color;
  }
}

/* ---------- Center an element (absolute) ---------- */
@mixin center-absolute($position) {
  position: absolute;

  @if $position == 'vertical' {
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
  @else if $position == 'horizontal' {
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
  }
  @else if $position == 'both' {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  @else if $position == 'none' {
    position: relative;
    top: auto;
    left: auto;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
  }
}

/* ---------- Center an element (relative) ---------- */
@mixin center-relative($position) {
  position: relative;

  @if $position == 'vertical' {
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
  @else if $position == 'horizontal' {
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
  }
  @else if $position == 'both' {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  @else if $position == 'bottom' {
    top: 100%;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
  }
}

/* ---------- Animation Mixin Setup ---------- */
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }

  @-moz-keyframes #{$animation-name} {
    @content;
  }

  @-ms-keyframes #{$animation-name} {
    @content;
  }

  @-o-keyframes #{$animation-name} {
    @content;
  }

  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  animation: #{$str};
  -webkit-animation: #{$str};
  -o-animation: #{$str};
  -ms-animation: #{$str};
  -moz-animation: #{$str};
}

/* ---------- Example Use Keyframe / Animation ---------- */
// @include keyframes(key-name) {
//   0% {
//     top: 0;
//   }
//   100% {
//     top: 100%;
//   }
// }
// .use-this {
//   @include animation('key-name 1s ease-out infinite');
// }

/* ---------- Flex Wrap ---------- */
@mixin flex-wrap($str) {
  flex-wrap: #{$str};
  -webkit-flex-wrap: #{$str};
  -o-flex-wrap: #{$str};
  -ms-flex-wrap: #{$str};
  -moz-flex-wrap: #{$str};
}

/* ---------- Gradient ---------- */
@mixin background-gradient($start-color, $end-color, $orientation) {
  background: $start-color;

  @if $orientation == 'vertical' {
    background: -webkit-linear-gradient(top, $start-color, $end-color);
    background: linear-gradient(to bottom, $start-color, $end-color);
  }
  @else if $orientation == 'horizontal' {
    background: -webkit-linear-gradient(left, $start-color, $end-color);
    background: linear-gradient(to right, $start-color, $end-color);
  }
  @else {
    background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
    background: radial-gradient(ellipse at center, $start-color, $end-color);
  }
}

/* ----------------------- Rounded ----------------------- */
@mixin rounded($radius: 5px) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

@mixin rounded-tl($radius: 5px) {
  border-top-left-radius: $radius;
  -webkit-border-top-left-radius: $radius;
  -moz-border-top-left-radius: $radius;
}

@mixin rounded-tr($radius: 5px) {
  border-top-right-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  -moz-border-top-right-radius: $radius;
}

@mixin rounded-bl($radius: 5px) {
  border-bottom-left-radius: $radius;
  -webkit-border-bottom-left-radius: $radius;
  -moz-border-bottom-left-radius: $radius;
}

@mixin rounded-br($radius: 5px) {
  border-bottom-right-radius: $radius;
  -webkit-border-bottom-right-radius: $radius;
  -moz-border-bottom-right-radius: $radius;
}

/* ----------------------- Opacity ----------------------- */
@mixin opacity($opacity: 0.5) {
  $opperc: $opacity * 100;
  opacity: $opacity;
  filter: alpha(opacity = $opperc);
  -webkit-opacity: $opacity;

  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=' + $opperc + ')';

  -moz-opacity: $opacity;
  -khtml-opacity: $opacity;
}

/* ----------------------- Box Sizing ----------------------- */
@mixin box-sizing($value) {
  box-sizing: $value;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: $value;
  -moz-box-sizing: $value;
}

/* ----------------------- Transform ----------------------- */
@mixin transform($arguments) {
  transform: $arguments;
  -webkit-transform: $arguments;
  -o-transform: $arguments;
  -ms-transform: $arguments;
  -moz-transform: $arguments;
}

/* -------------------- Transform Delay -------------------- */
@mixin transform-delay($time) {
  transition-delay: $time;
  -webkit-transition-delay: $time;
  -o-transition-delay: $time;
  -ms-transition-delay: $time;
  -moz-transition-delay: $time;
}

/* ----------------------- Rotation ----------------------- */
@mixin rotation($deg: 5deg) {
  @include transform(rotate($deg));
}

/* ----------------------- Scale ----------------------- */
@mixin scale($ratio: 1.5) {
  @include transform(scale($ratio));
}

/* -------------------- Scale Horizontal -------------------- */
@mixin scaleH($x: 1.5, $y: 1) {
  @include transform(scale($x, $y));
}

/* ------------------ Transform Origin ------------------ */
@mixin transform-origin($origin) {
  transform-origin: $origin;
  -webkit-transform-origin: $origin;
  -o-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -moz-transform-origin: $origin;
}

/* ----------------------- Transition ----------------------- */
@mixin transition($duration: 0.3s, $ease: ease-in-out) {
  transition: all $duration $ease;
  -webkit-transition: all $duration $ease;
  -o-transition: all $duration $ease;
  -moz-transition: all $duration $ease;
}

/* ----------------------- Transition ----------------------- */
@mixin transition-none {
  transition: none;
  -webkit-transition: none;
  -o-transition: none;
  -moz-transition: none;
}

/* ------------------ Transition Specific ------------------ */
@mixin transition-specific($attr: all, $duration: 0.3s, $ease: ease-out) {
  transition: $attr $duration $ease;
  -webkit-transition: $attr $duration $ease;
  -o-transition: $attr $duration $ease;
  -moz-transition: $attr $duration $ease;
}

/* ------------------ Transition Multiple ------------------ */
@mixin transition-multiple($properties...) {
  transition-duration: 0.2s;
  transition-property: $properties;
  transition-timing-function: ease-out;
  -webkit-transition: $properties;
  -o-transition: $properties;
  -moz-transition: $properties;
}

/* ----------------------- Pseudo ----------------------- */
@mixin pseudo($display: block, $pos: absolute, $content: '') {
  display: $display;
  position: $pos;
  content: $content;
}

/* ----------------------- Filter ----------------------- */
/* 
    grayscale      ex: filter: grayscale(100%);
    sepia          ex: filter: sepia(100%);
    saturate       ex: filter: saturate(0%);
    hue-rotate     ex: filter: hue-rotate(45deg);
    invert         ex: filter: invert(100%);
    brightness     ex: filter: brightness(15%);
    contrast       ex: filter: contrast(200%);
    blur           ex: filter: blur(2px);
  */

@mixin filter($filter-type, $filter-amount) {
  filter: $filter-type + unquote('(#{$filter-amount})');
  -webkit-filter: $filter-type + unquote('(#{$filter-amount})');
  -o-filter: $filter-type + unquote('(#{$filter-amount})');
  -ms-filter: $filter-type + unquote('(#{$filter-amount})');
  -moz-filter: $filter-type + unquote('(#{$filter-amount})');
}

/* --------------------- Box Shadow --------------------- */
@mixin box-shadow($x-axis: 0, $y-axis: 1px, $blur: 2px, $color: rgba(0, 0, 0, 0.1)) {
  box-shadow: $x-axis $y-axis $blur $color;
  -webkit-box-shadow: $x-axis $y-axis $blur $color;
  -moz-box-shadow: $x-axis $y-axis $blur $color;
}

/* --------------------- Text Shadow --------------------- */
@mixin text-shadow($hs: 1px, $vs: 1px, $blur: 2px, $color: rgba(0, 0, 0, 0.3)) {
  text-shadow: $hs $vs $blur $color;
  -webkit-text-shadow: $hs $vs $blur $color;
  -moz-text-shadow: $hs $vs $blur $color;
}

/* ---------- Line Clamp ---------- */
@mixin line-clamp($line) {
  @supports (-webkit-line-clamp: $line) {
    display: -webkit-box;
    white-space: initial;
    overflow: hidden;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
  }
}

/* ---------- Placeholder Style ---------- */
@mixin background-two-color($start-color, $end-color) {
  background: $end-color;
  background: -moz-linear-gradient(top, $start-color 0%, $start-color 45%, $end-color 45%, $end-color 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, $start-color), color-stop(45%, $start-color), color-stop(45%, $end-color), color-stop(100%, $end-color));
  background: -webkit-linear-gradient(top, $start-color 0%, $start-color 45%, $end-color 45%, $end-color 100%);
  background: -ms-linear-gradient(top, $start-color 0%, $start-color 45%, $end-color 45%, $end-color 100%);
  background: linear-gradient(to bottom, $start-color 0%, $start-color 45%, $end-color 45%, $end-color 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$start-color, endColorstr=$end-color, GradientType=0 );
}

/* ---------- Smoothing ---------- */
@mixin font-smoothing($value) {
  -webkit-font-smoothing: $value;
  -moz-osx-font-smoothing: $value;
}

@mixin overflow-scrolling {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

@mixin position-sticky {
  position: sticky;
  position: -webkit-sticky;
}

@mixin no-appearance {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@mixin autofill($size, $color) {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    box-shadow: 0 0 0 $size $color inset !important;
  }
}

@mixin no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}
