*,
*:before,
*:after {
  @include box-sizing(border-box);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px $white inset !important;
}

::-moz-selection {
  color: $white;
  background: $c-p-1;
}

::selection {
  color: $white;
  background: $c-p-1;
}

body {
  font: normal 14px/23px 'sfpd', sans-serif;
  margin: 0;
  padding: 0;
  color: $text;
}

sup {
  font-size: 10px;
  margin-top: -5px;
  display: inline-block;
}

table {
  margin: 0;
  padding: 0;
  width: 100%;
  border: none;

  tr {
    padding: 0;
    margin: 0;
  }

  th {
    padding: 0;
    margin: 0;
  }

  td {
    padding: 0;
    margin: 0;
  }
}

address {
  font-style: normal;
}

blockquote {
  margin: 0;
  padding: 0;
}

img {
  @include transition(0.3s);

  max-width: 100%;
  display: block;
}

svg {
  display: block;
}

* {
  &:focus {
    outline: none;
  }
}

a {
  @include transition(0.3s);

  text-decoration: none;
  color: $link;

  &:focus {
    color: $c-p-3;
  }

  &:hover {
    color: $hover;
  }
}

%clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}

.clearfix {
  @extend %clearfix;
}

.row-fluid {
  *zoom: 1;

  &:before {
    content: '';
    display: table;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  [class*='span-'] {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;

    &:first-child {
      margin-left: 0 !important;
    }
  }

  .no-gutter {
    margin-left: 0 !important;
  }

  .pull-right {
    float: right;
  }

  @for $i from 1 through 12 {
    .span-#{$i} {
      width: 100%;
    }
  }

  @include mq('tablet') {
    $default-gutter-px: 16;
    $default-screen-px: 768;
    $default-column-px: 49;
    $default-column-perc: $default-column-px / $default-screen-px;
    $default-gutter-perc: $default-gutter-px / $default-screen-px;
    $default-column-gutter-perc: $default-column-perc + $default-gutter-perc;

    @for $i from 1 through 12 {
      .span-#{$i} {
        width: percentage($default-column-perc + $default-column-gutter-perc * ($i - 1));
      }
    }

    [class*='span'],
    [class*='span'].has-gutter {
      margin-left: percentage($default-gutter-perc);
    }
  }


  @include mq('desktop') {
    $default-gutter-px: 24;
    $default-screen-px: 1236;
    $default-column-px: 81;
    $default-column-perc: $default-column-px / $default-screen-px;
    $default-gutter-perc: $default-gutter-px / $default-screen-px;
    $default-column-gutter-perc: $default-column-perc + $default-gutter-perc;

    @for $i from 1 through 12 {
      .span-#{$i} {
        width: percentage($default-column-perc + $default-column-gutter-perc * ($i - 1));
      }
    }

    [class*='span'],
    [class*='span'].has-gutter {
      margin-left: percentage($default-gutter-perc);
    }
  }
}

.mobile-hide {
  display: none !important;
}

.mobile-visible {
  display: none !important;

  @include mq('tablet', max) {
    display: inherit !important;

    .b-guideline & {
      display: inline !important;
    }
  }
}

@include mq('tablet') {
  .mobile-hide {
    display: inherit !important;

    .b-guideline & {
      display: inline !important;
    }
  }

  .tablet-hide {
    display: none !important;
  }
}


@include mq('tablet-wide') {
  .tablet-hide {
    display: inherit !important;

    .b-guideline & {
      display: inline !important;
    }
  }

  .tablet-wide-hide {
    display: none !important;
  }
}


@include mq('desktop') {
  .mobile-hide {
    display: inherit !important;

    .b-guideline & {
      display: inline !important;
    }
  }

  .tablet-hide {
    display: inherit !important;

    .b-guideline & {
      display: inline !important;
    }
  }

  .tablet-wide-hide {
    display: inherit !important;

    .b-guideline & {
      display: inline !important;
    }
  }

  .desktop-hide {
    display: none !important;
  }
}


.b-container {
  padding-left: 20px;
  padding-right: 20px;

  @include mq('tablet') {
    padding-left: 20px;
    padding-right: 20px;
  }


  @include mq('desktop') {
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.s-section {
  padding-top: 40px;
  padding-bottom: 40px;

  @include mq('tablet') {
    padding-top: 50px;
    padding-bottom: 50px;
  }


  @include mq('desktop') {
    padding-top: 70px;
    padding-bottom: 70px;
  }


  .b-head {
    margin-bottom: 35px;

    *:last-child {
      margin-bottom: 0;
    }
  }

  &-light {
    color: $white;

    .b-container {
      * {
        color: $white;
      }
    }
  }

  &-bg {
    background-color: $primary;
    color: $white;
    padding: 0;

    .title {
      color: $white;
    }

    .b-head {
      text-align: center;

      @include mq('tablet') {
        text-align: left;
      }
    }

    .b-container {
      position: relative;
    }

    .b-body {
      z-index: 1;
      display: flex;
      padding: 50px 0;
      position: relative;
      flex-direction: column;
      justify-content: center;

      @include mq('tablet') {
        max-width: 50%;
        min-height: 550px;
      }


      @include mq('tablet-wide') {
        max-width: 60%;
      }
    }

    .thumb {
      position: relative;

      @include mq('tablet') {
        top: -16%;
        bottom: 0;
        width: 100%;
        right: -50px;
        position: absolute;

        .img {
          max-height: 100%;
          float: right;
        }
      }
    }

    .note {
      font-size: 9px;
      line-height: 12px;
      margin-top: 10px;
    }

    .btn {
      width: 100%;

      @include mq('tablet') {
        width: auto;
        min-width: 320px;
      }
    }
  }
}

ol,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6
.decor,
.sub-text {
  padding: 0;
  color: $heading;
  font-weight: bold;
  margin: 0 0 10px 0;
  line-height: 1.2em;

  sup {
    font-size: $fs13;
  }

  a {
    color: $heading;
    text-decoration: none;

    &:hover {
      color: $hover;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.heading-1 {
  font-size: $fs36;
  font-weight: bold;
}

.heading-2 {
  font-size: $fs25;
  font-weight: bold;
}

.heading-3 {
  font-size: $fs20;
  font-weight: bold;
}

.decor {
  @include ff('sfpdl');

  font-size: 50px;
  line-height: 50px;
}

.description {
  color: $description;
  font-weight: normal;
}

.sub-text {
  color: $c-n-3;
  font-size: $fs12;
  font-weight: normal;
}

.h1 {
  font-size: $fs25;
  margin-bottom: 0;
}

.h2 {
  font-size: $fs20;
}

.h3 {
  font-size: $fs18;
}

.h4 {
  font-size: $fs18;
  font-weight: 300;
}

.h5 {
  font-size: $fs13;
  font-weight: normal;
}

.h6 {
  color: $c-p-1;
  font-size: $fs12;
  font-weight: normal;
}

p,
li,
label {
  padding: 0;

  // line-height: 20px;
  margin: 0 0 10px 0;

  &.large {
    font-size: $fs18;
    line-height: 24px;
  }

  &.small {
    font-size: $fs12;
    line-height: 16px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

label,
.tab-label {
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: $transparent;
}

.btn-text {
  @include rounded(0);
  @include transition(0.3s);

  border: 0;
  margin: 0;
  padding: 0;
  color: $c-p-2;
  cursor: pointer;
  font-size: $fs14;
  display: inline-block;
  background-color: transparent;

  &:hover {
    color: $hover;
  }
}

.btn {
  @include rounded($btn-radius);
  @include transition-multiple(background-color, border-color);

  margin: 0;
  cursor: pointer;
  font-size: $fs14;
  padding: 14px 10px;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  background-color: $c-p-2;
  border: 1px solid transparent;

  & {
    line-height: 20px;
  }

  .icon,
  .txt {
    line-height: 18px;
  }

  &,
  .icon {
    color: $white;
  }

  .lds-ring {
    div {
      border-color: $white transparent transparent;
    }
  }

  @include mq('tablet') {
    min-width: 200px;
  }


  &:hover {
    text-decoration: none;
    border-color: $hover;
    background-color: $hover;

    &,
    .icon {
      color: $white;
    }
  }

  &-small {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  &-xs {
    padding: 4px 15px;
    font-size: $fs14;
  }

  &-mini {
    padding: 1px 20px;
  }

  &:disabled {
    cursor: default;
    color: $disabled;
    background-color: $disabled-bg;
    border-color: $border;

    &:hover {
      color: $disabled;
      background-color: $disabled-bg;
      border-color: $border;
      cursor: not-allowed;
    }

    .icon {
      &::before {
        color: $disabled;
      }
    }
  }

  &-cancel {
    color: $white;
    background-color: $c-g-2;

    &:hover {
      background-color: $hover;
    }
  }

  &-icon {
    .icon {
      margin-left: 5px;
      display: inline-block;
      vertical-align: middle;
      font-size: 18px;

      &.icon-arrow-next {
        font-size: 9px;
      }
    }

    &.left {
      .icon {
        margin-left: 0;
        margin-right: 5px;
      }
    }

    .txt {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &-square-icon {
    padding: 0;
    width: 50px;
    min-width: auto;
    line-height: 48px;

    &.btn-small {
      width: 40px;
      height: 40px;
      line-height: 40px;
    }

    &.btn-xs {
      width: 30px;
      height: 30px;
      line-height: 30px;
    }
  }

  &-circle-icon {
    @include rounded(100%);

    width: 50px;
    padding-left: 0;
    min-width: auto;
    font-size: 12px;
    padding-right: 0;
    text-align: center;

    &.primary-bg {
      background-color: $primary;

      .icon {
        color: $white;
      }
    }

    &.highlight-bg {
      background-color: $highlight;

      .icon {
        color: $white;
      }
    }

    &.btn-small {
      width: 40px;
    }

    &.btn-xs {
      width: 30px;

      .icon {
        font-size: $fs9;
      }
    }
  }

  &-secondary {
    background: $secondary;
    border: 1px solid $secondary;
    color: $white;
  }

  &-dark {
    $dark: rgba(0, 0, 0, 0.8);

    background: $dark;
    border: 1px solid $dark;
    color: $white;

    .icon {
      color: $white;
    }
  }

  &-gray {
    background: $c-g-1;
    border: 1px solid $c-g-1;
    color: $c-g-2;

    &:hover {
      border-color: $hover;
      background-color: $hover;
    }

    .icon {
      color: $c-g-2;
    }
  }

  &-white {
    background-color: $white;
  }

  &-outline {
    background-color: $white;
    border: 1px solid $border;

    &,
    .icon {
      color: $c-p-2;
    }

    &.primary-outline {
      border-color: $primary;
      color: $primary;

      &:hover,
      &.btn-active {
        color: $white;
      }
    }

    &.default-color {
      color: $text;

      &:hover,
      &.btn-active {
        color: $white;
      }
    }
  }

  &-transparent {
    background-color: transparent;
    border-color: transparent;

    &,
    .icon {
      color: $c-p-2;
    }
  }

  &-sn {
    @include rounded(20px);

    display: flex;
    color: $text;
    padding-top: 9px;
    padding-bottom: 9px;
    align-items: center;
    justify-content: center;
    background-color: $white;
    border: 1px solid $border;
    text-transform: capitalize;

    img {
      margin-right: 5px;
    }
  }

  &-white {
    color: $text;
    background-color: $white;

    .icon {
      color: $text;
    }

    &:hover {
      color: $white;
    }
  }

  &-has-shadow {
    @include box-shadow(0, 0, 4px, $black-10);
  }

  &-primary {
    color: $white;
    background-color: $c-p-1;
    border-color: $c-p-1;

    .lds-ring {
      div {
        border-color: $white transparent transparent;
      }
    }
  }

  &-highlight {
    &,
    &:focus,
    &:visited {
      color: $white;
      background-color: $highlight;
    }
  }

  &-success {
    color: $white;
    background-color: $c-s-3;
  }
}

.link {
  color: $link;

  &:hover {
    cursor: pointer;
  }
}

.no-padding {
  padding: 0 !important;
}

.w-full {
  width: 100% !important;
}

.invisible {
  display: none !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.rotate-180 {
  @include rotation(180deg);
}

#nprogress {
  .bar {
    background-color: $c-p-1;
  }

  .spinner {
    @include transform(translate(-50%, -50%));

    top: 50%;
    left: 50%;
    right: auto;

    .spinner-icon {
      width: 30px;
      height: 30px;
      border: solid 3px transparent;
      border-top-color: $c-p-1;
      border-left-color: $c-p-1;
    }
  }
}
