// primary
$c-p-1: #2774be;
$c-p-2: #006aff;
$c-p-3: #e3f2fd;
$c-p-4: #3454d1;
$c-p-5: #55acee;
$c-p-6: #00afff;

// secondary
$c-s-2: #fa8c00;
$c-s-3: #2cc8a7;
$c-s-4: #fcc357;
$c-s-5: #e53935;
$c-s-7: #e5d05f;
$c-s-8: #43a046;
$c-s-9: #58d15c;

// light
$c-l-3: #b2e0f0;
$c-l-7: #eaf1f7;

// grey
$c-g-1: #e0e0e0;
$c-g-2: #9e9e9e;
$c-g-3: #f9f9f9;
$c-g-4: #f1f1f1;

// natural
$c-n-1: #2a2a33;
$c-n-2: #464646;
$c-n-3: #8e8e8e;
$c-n-4: #b2b2b2;
$c-n-5: #eaeaea;
$c-n-7: #d8d8d8;
$c-n-8: #e6e6e6;
$c-n-9: #f3f3f3;
$c-n-10: #f1f5f7;

// common
$white: #fff;
$black: #000;
$primary: $c-p-1;
$secondary: $c-p-2;
$highlight: $c-s-5;

$text: $c-n-1;
$description: $c-g-2;
$placeholder: $c-n-4;
$img-bg: $c-n-4;
$heading: $c-n-1;
$link: $c-p-2;
$border: $c-g-1;
$border-dark: $c-n-4;
$hover: #3ac5c9;
$disabled: #b2b2b2;
$disabled-bg: $white;
$table-bg: #f7f7f7;
$not-rated: #f9f6d3;
$rated: #fcc357;
$error: #e43f00;
$error-bg: #fff1f2;
$success: #3ac5c9;
$success-bg: #c3edee;
$transparent: rgba($black, 0);
$shadow: rgba($black, 0.1);
$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
$cubic-bezier-1: '0.19, 1, 0.22, 1';

// alpha
$c-p-1-10: rgba($c-p-1, 0.1);
$c-p-1-15: rgba($c-p-1, 0.15);
$c-p-2-80: rgba($c-p-2, 0.8);
$black-10: rgba($black, 0.1);
$black-15: rgba($black, 0.15);
$black-25: rgba($black, 0.25);
$black-20: rgba($black, 0.2);
$black-30: rgba($black, 0.3);
$black-50: rgba($black, 0.5);
$black-60: rgba($black, 0.6);
$black-70: rgba($black, 0.7);
$black-80: rgba($black, 0.8);
$white-0: rgba($white, 0);
$white-30: rgba($white, 0.3);
$white-70: rgba($white, 0.7);
$white-80: rgba($white, 0.8);
$white-90: rgba($white, 0.9);
$white-95: rgba($white, 0.95);

// responsive
$bp-phone: 320px;
$bp-phone-wide: 480px;
$bp-tablet: 768px;
$bp-tablet-wide: 1024px;
$bp-desktop: 1280px;
$bp-desktop-wide: 1720px;
$break-points: ('phone': $bp-phone, 'phone-wide': $bp-phone-wide, 'tablet': $bp-tablet, 'tablet-wide': $bp-tablet-wide, 'desktop': $bp-desktop, 'desktop-wide': $bp-desktop-wide);

// font size
$fs7: 7px;
$fs8: 8px;
$fs9: 9px;
$fs10: 10px;
$fs11: 11px;
$fs12: 12px;
$fs13: 13px;
$fs14: 14px;
$fs15: 15px;
$fs16: 16px;
$fs17: 17px;
$fs18: 18px;
$fs19: 19px;
$fs20: 20px;
$fs22: 22px;
$fs25: 25px;
$fs28: 28px;
$fs30: 30px;
$fs32: 32px;
$fs36: 36px;
$fs40: 40px;
$fs50: 50px;
$fs56: 56px;

// Valuation steps
$step-0: #000000;
$step-1: #3dbdac;
$step-2: #ff8d00;
$step-3: #9bd845;
$step-4: #ff0000;
$step-5: #4560d8;
$step-6: #de49b9;
$step-7: #c7a987;
$step-8: #c4c4c4;

$light: 300;
$medium: 500;
$semi-bold: 600;
$bold: 700;

$btn-radius: 5px;
$input-radius: 6px;
