@import 'variables';
@import 'animation';
@import 'mixins';
@import 'reset';
@import 'forms';
@import 'fonts';

@import '~nprogress/nprogress.css';

// @import '~slick-carousel/slick/slick.css';
// @import '~slick-carousel/slick/slick-theme.css';

// Header height
$hhm: 67px;
$hht: 67px;
$hhd: 67px;

// Here you put all global css rules.
.app {
  padding-top: $hhd;

  &.is-logged-in {
    .hide-when-logged {
      display: none;
    }
  }
}

.p-home {
  padding-top: 0;

  @include mq('desktop') {
    padding-top: $hhd;
  }
}

.hidden {
  display: none;
}

.center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.image {
  height: 100px;

  figure {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: $img-bg;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &.avatar {
    @include rounded(50%);

    width: 40px;
    height: 40px;
    overflow: hidden;

    &.large {
      width: 80px;
      height: 80px;
    }

    &.small {
      width: 30px;
      height: 30px;
    }
  }
}

.simple-list {
  padding-left: 20px;

  li {
    position: relative;
    margin-bottom: 0;
    padding-left: 20px;
    z-index: 1;

    &::before {
      position: absolute;
      top: 3px;
      left: 0;
      font-size: 1em;
      line-height: 1em;
      content: '•';
      z-index: 2;
    }
  }
}

.close {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;

  i {
    @include transition(0.3s);
  }

  &:hover {
    i {
      color: $text;
    }
  }
}

// plugins
.nprogress-busy {
  .c-loading,
  .c-not-found-valuation {
    display: none;
  }

  .is-busy {
    border-color: $border;
    background-color: $disabled-bg;
    color: $disabled;
    cursor: default;
    pointer-events: none;

    &:hover {
      border-color: $border;
      background-color: $disabled-bg;
      color: $disabled;
      cursor: not-allowed;
    }

    .icon {
      &::before {
        color: $disabled;
      }
    }
  }

  .c-estimation-preliminary-detail {
    display: none;
  }
}

.swal2 {
  &-popup {
    padding: 0;
  }

  &-header {
    border-bottom: 1px solid $border;
  }

  &-title {
    width: 100%;
    margin-bottom: 0;
    padding: 20px;
    font-size: $fs15;
  }

  &-close {
    top: 10px;
    right: 10px;
    color: $c-p-1;
    font-size: $fs20;

    &:hover {
      color: $hover;
    }

    &::before {
      content: '\e830';
    }
  }

  &-content {
    padding: 20px;
    border-bottom: 1px solid $border;
  }

  &-html-container {
    font-size: $fs14;
    text-align: left;
  }

  &-actions {
    justify-content: flex-end;
    margin-top: 0;
    padding: 20px;

    button {
      font-size: $fs15;

      &:focus {
        @include box-shadow(0, 0, 0, transparent);
      }
    }
  }

  &-styled {
    margin: 0;
    padding: 10px 20px;

    &.swal2-confirm {
      font-size: $fs15;
    }
  }
}

.price-roll {
  font-size: 34px;
  line-height: 1.1em;

  &.DigitRoll {
    border: 0;
  }
}

.icon-spinner {
  display: block;
  animation: dual-ring 1.2s linear infinite;
}

.modal-open {
  height: 100%;
  overflow: hidden;
}

.c-switch {
  .react-switch-handle {
    @include box-shadow(0, 0, 5px, $shadow);

    z-index: 11;
  }

  &::before {
    @include transform(translateY(-50%));

    position: absolute;
    top: 50%;
    left: 9px;
    width: 1px;
    height: 10px;
    background-color: $white;
    content: '';
    z-index: 10;
  }

  &::after {
    @include transform(translateY(-50%));
    @include rounded(50%);

    position: absolute;
    top: 50%;
    right: 4px;
    width: 6px;
    height: 6px;
    border: 1px solid $c-n-3;
    content: '';
    z-index: 10;
  }
}

// start: reset slick slider
.slick-dots {
  bottom: 20px;
  line-height: 0;

  li {
    @include rounded(50%);

    width: 8px;
    height: 8px;
    margin-right: 8px;
    margin-left: 8px;
    background-color: $c-n-5;

    button {
      width: 8px;
      height: 8px;
      border: 0;
      background-color: transparent;
      color: $c-n-5;
      font-size: 0;
      line-height: 8px;

      &::before {
        display: none;
      }
    }

    &.slick-active {
      background-color: $c-p-1;
    }
  }
}

.slick-prev,
.slick-next {
  @include transform(translateY(0));

  top: 0;
  width: 15%;
  height: 100%;
  z-index: 10;
}

.slick-prev {
  left: 0;
  padding-left: 3px;
  text-align: left;
}

.slick-next {
  right: 0;
  padding-right: 3px;
  text-align: right;
}

// end: reset slick slider

.c-table-view-2-cols {
  .b-body {
    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 16px;
      padding-bottom: 16px;
      border-bottom: 1px solid $border;
    }

    .minimize {
      display: none;
    }
  }

  @include mq('desktop') {
    .b-body {
      .table {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
      }

      .row {
        width: calc((100% - 20px) / 2);

        .cell {
          width: 50%;
          text-align: left;
        }
      }
    }
  }
}

.html-content {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }

  blockquote {
    margin-bottom: 20px;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 5px solid $border;
    font-style: italic;
  }

  ul {
    padding-left: 20px;

    li {
      list-style-type: disc;
    }
  }

  ol {
    padding-left: 20px;

    li {
      list-style-type: decimal;
    }
  }

  h1 {
    font-size: 30px;
    line-height: 40px;
  }

  h2 {
    font-size: 25px;
    line-height: 35px;
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: $fs20;
    line-height: 30px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding-top: 20px;

    &:first-child {
      padding-top: 0;
    }
  }

  > * {
    margin-bottom: 20px;

    &:empty {
      display: none;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include mq('desktop') {
    margin-bottom: 50px;

    p {
      font-size: $fs15;
      line-height: 19px;
    }

    ul,
    ol {
      li {
        font-size: $fs15;
        line-height: 19px;
      }
    }
  }
}

.tab-radio {
  flex-grow: 1;
  border-right: 1px solid $border;

  &:last-child {
    border: 0;
  }

  input {
    position: fixed;
    top: 0;
    left: -99em;
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    background: transparent;
    overflow: hidden;

    &:checked ~ .label {
      border: 0;
      color: $white;
    }
  }

  .label {
    display: block;
    padding: 12px 5px;
    line-height: 26px;
    text-align: center;
  }
}

// start: Pagination
.c-pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  li {
    margin-right: 15px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }

    a {
      @include rounded(4px);

      display: block;
      min-width: 25px;
      height: 25px;
      border: 1px solid $border;
      font-size: $fs14;
      line-height: 23px;
      text-align: center;
      cursor: pointer;
    }

    &.selected {
      a {
        border-color: $c-p-2;
        background-color: $c-p-2;
        color: $white;
      }
    }

    &.first,
    &.prev,
    &.next,
    &.last,
    &.break {
      a {
        border-color: $transparent;
      }
    }

    &.first,
    &.prev {
      .icon {
        color: $c-p-1;
      }
    }

    &.disabled {
      .icon {
        color: $c-n-3;
      }
    }
  }
}

// end: Pagination

.b-colexp {
  .b-top {
    display: flex;
    justify-content: space-between;

    .collapse {
      display: none;
    }

    .expand {
      display: inherit;
    }

    label {
      .icon {
        margin-left: 10px;
        color: $text;
      }
    }
  }

  .b-detail {
    display: none;
  }

  .no-data {
    padding-bottom: 10px;
  }

  .landing-detail-controller {
    &:checked ~ .b-top {
      .collapse {
        display: inherit;
      }

      .expand {
        display: none;
      }
    }

    &:checked ~ .b-detail {
      display: block;
    }
  }
}

.table-3-cols {
  .tr {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid $border;

    .td {
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: $fs12;

      &.col-1 {
        width: 65%;
        padding-right: 5px;

        .icon {
          display: inline-block;
          width: 22px;
          text-align: left;
        }
      }

      &.col-2 {
        width: 20%;
      }

      &.col-3 {
        width: 15%;
        padding-left: 5px;
      }

      .dropdown-container {
        .select {
          &__value-container {
            padding: 0 15px;
            line-height: 30px;

            input {
              height: 30px;
              line-height: 30px;
            }
          }

          &__input {
            line-height: 30px;
          }
        }
      }

      input {
        &[type='tel'],
        &[type='text'],
        &[type='email'],
        &[type='number'],
        &[type='password'] {
          height: 38px;
          line-height: 38px;
        }
      }
    }

    .children-label {
      display: flex;
      position: relative;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      z-index: 9;

      .i-controller {
        position: absolute;
        top: 10px;
        right: 0;
        z-index: 10;
      }

      .icon-minus {
        display: none;
      }

      .icon-plus {
        display: inherit;
      }
    }

    .child {
      display: none;
    }

    .children-info-controller {
      &:checked ~ .children-label {
        .icon-minus {
          display: inherit;
        }

        .icon-plus {
          display: none;
        }
      }

      &:checked ~ .child {
        display: inherit;
      }
    }
  }

  @include mq('desktop') {
    .tr {
      .td {
        width: 30%;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: $fs15;

        &.col-1 {
          width: calc(50% - 22px);
        }

        &.col-3 {
          width: 20%;
        }
      }

      .children-label {
        .i-controller {
          top: 15px;
        }
      }
    }
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $black-10;
  z-index: 9999;

  &.active {
    display: block;
  }

  .modal-container {
    @include box-shadow(0, 40px, 50px, $black-20);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;

    .close-btn {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      width: 20px;
      height: 20px;
      border: 0;
      outline: none;
      background: none;
      cursor: pointer;
      z-index: 1;

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: $fs20;
      }
    }

    .modal-header {
      width: 100%;
      height: 60px;
    }

    .modal-content {
      padding: 35px;
    }
  }
}
